.form-control{
    width: 40%;
}

.card{
    width: 22%;
    .img-thumbnail{
        overflow: hidden;
    }
    img{
        width: 100%;
        height: 20vw;
        object-fit: cover;
    }
    img:hover{
        transform: scale(1.1);
        transition: all .3s ease-in-out;
    }
}
.card:hover{
    cursor: pointer;
}


@media only screen and (max-width: 400px){
    .card{
        width:100%;
        img{
            height: 30vh;
        }
    }
    .form-control{
        width: 90%;
    }
}